.editorContainer {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	outline: none;
	overflow-x: auto;
    align-items: center;
}

.previewContainer {
	cursor: pointer;
}

.editor {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	outline: none;
	font-size: 1.1rem;
}

/* Overrides  */

.CodeMirror {
	height: 100% !important;
}

.editor-preview {
	background: white !important;
}
