.editorContainer {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	font-size: 1.4rem;
	line-height: 1.5;
	outline: none;
	white-space: pre;
	word-wrap: normal;
	overflow-x: auto;
    align-items: center;
}

.editor {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.4rem;
	line-height: 1.5;
	outline: none;
	white-space: pre;
	word-wrap: normal;
	margin: auto;
}